@import url("../../index.css");

.all{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: relative;
}
.container{
    padding: 4rem;
    display: absolute;
    left: 0;
    right:0;
    width: 100%;
    height: 100lvh;
    /* animation: animate 16s ease-in-out infinite ; */
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content: space-between;
    overflow: clip;
    background-color:red;
    /* background-image: url('../../assets/images/hero-slider-1.jpg'); */
    background-size: cover;
    background-position:center;
    transition: background-image 2s ease; /* Add transition for the transform property */
    
    
}


  
 
.leftNext,.rightNext{
    height:2.4rem;
    width: 2.4rem;
    border:1px solid var(--gold-crayola);
    transform: rotate(45deg);
    cursor:pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items:center;
    justify-content: center;
    /* z-index: 999999; */
}

.leftNext:hover,.rightNext:hover{
    background-color:var(--gold-crayola);

}
.leftArrow,.rightArrow{
    transform: rotate(-45deg);
    color:var(--gold-crayola);
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 12px;
}
.leftNext:hover >.leftArrow,.rightNext:hover >.rightArrow{
    color:black;
}

.hero{
    margin-top: 15rem;
    gap:2rem;
    /* background-color:red; */
    width: 80%;
    /* height: 100%; */
    /* z-index: 9;/ */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.hero>img{
    width: 100vh;
    max-width: 10rem;
    animation: fadeInUp 1.5s ease forwards;
}
.title1{
    color:var(--gold-crayola);
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 12px;
    font-size:clamp( 9px ,3vw, 15px);

    animation: fadeInUp 2s ease forwards;


}
.hidden{
    display: none;
  }
.title2{
    color:white;
    font-family: var(--fontFamily-forum);
    
    font-size:clamp( 25px ,9vw, 105px);


    text-align: center;
    margin: 0;
    font-weight: 400;
    animation: fadeInUp 3s ease forwards;
}
.title3{
    color:white;
    font-family: var(--fontFamily-forum);
    margin: 0;


    /* font-size: 20px; */
    font-size:clamp( 1px ,3.5vw, 20px);

    animation: fadeInUp 3.2s ease forwards;


}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 